<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Hlomohang Sethuntsa</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header class="sticky-navbar">
    <nav class="navbar">
        <div class="logo">
            <a href="index.html">
                <img src="../static/images/logo.png" alt="Hlomohang Sethuntsa Logo" class="logo-image">
            </a>
        </div>
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-icon">☰</label>
        <ul class="menu horizontal">
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="skills.html">Skills</a></li>
            <li><a href="education.html">Education</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="interests.html">Interests</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>

    <main class="projects-section">
    <h1>My Projects</h1>

    <div class="projects-grid-container">

        <div class="project-card">
            <video controls muted playsinline poster="../static/images/personal_website.mp4">
                <source src="../static/images/personal_website.mp4" type="video/mp4">
                <source src="../static/images/personal_website.mp4" type="video/webm">
                Your browser does not support the video tag.
            </video>
            <h3>First PLP Portfolio Website Hackathon</h3>
            <p class="project-description">Developed my very first portfolio website during a hackathon. The project was built using <strong>HTML5 and CSS3 </strong> and served as a foundational showcase of my background, skills, and projects.</p>
            <div class="project-links">
                <a href="https://github.com/Hlomohangcue/PLP-First-Hackathon" target="_blank" class="github-link"><i class="fab fa-github"></i> GitHub</a>
            </div>
        </div>

        <div class="project-card">
            <img src="../static/images/sic.jpeg" alt="Student Attendance System Thumbnail" class="project-thumbnail">
            <h3>Student Attendance Using Fingerprint Biometric</h3>
            <p class="project-description">Developed a biometric-based attendance system using Flutter and Dart for my final project in Diploma in Computer Systems Engineering. This system streamlines attendance tracking with secure fingerprint authentication.</p>
            <div class="project-links">
                <a href="https://github.com/HlomohangCue/Student-Attendance-Using-Fingerprint-Biometric" target="_blank" class="github-link"><i class="fab fa-github"></i> GitHub</a>
            </div>
        </div>

        <div class="project-card">
            <img src="../static/images/c&p.jpeg" alt="Water and Sewage System Thumbnail" class="project-thumbnail">
            <h3>Water and Sewage Burst Pipes Tracking System</h3>
            <p class="project-description">Created a real-time monitoring system using Python, JavaScript, and MySQL for a hackathon project during my Coding & Programming course at Samsung Innovation Campus. It helps in quickly identifying and tracking burst pipes.</p>
            <div class="project-links">
                <a href="https://github.com/Hlomohangcue/Water_and_Sewage_Burst_Pipes_Track" target="_blank" class="github-link"><i class="fab fa-github"></i> GitHub</a>
            </div>
        </div>

        <div class="project-card">
            <video controls muted playsinline poster="../static/images/communication_bridge_ai.mp4">
                <source src="../static/images/communication_bridge_ai.mp4" type="video/mp4">
                <source src="../static/images/communication_bridge_ai.mp4" type="video/webm">
                Your browser does not support the video tag.
            </video>
            <h3>Real-Time Communication Bridge AI</h3>
            <p class="project-description">Built an AI-powered application to bridge communication gaps between verbal and non-verbal communities using gesture recognition and computer vision. This was my final AI project for the Artificial Intelligence certification at Samsung Innovation Campus.</p>
            <div class="project-links">
                <a href="https://github.com/Hlomohangcue/Communication_bridge-AI" target="_blank" class="github-link"><i class="fab fa-github"></i> GitHub</a>
            </div>
        </div>

        <div class="project-card">
            <video controls muted playsinline poster="../static/images/fleet_inspection.mp4">
                <source src="../static/images/fleet_inspection.mp4" type="video/mp4">
                <source src="../static/images/fleet_inspection.mp4" type="video/webm">
                Your browser does not support the video tag.
            </video>
            <h3>Fleet Inspection System</h3>
            <p class="project-description">Developed responsive application using Python and the Flet framework to enhance fleet inspection processes at OnePower Lesotho. This system streamlines data collection and management for vehicle fleets.</p>
            <div class="project-links">
                <a href="https://github.com/Hlomohangcue/1pwr_intelligent_fleet_inspection_syatem" target="_blank" class="github-link"><i class="fab fa-github"></i> GitHub</a>
            </div>
        </div>

    </div>
</main>

    <footer>
    <div class="footer-content">
        <div class="footer-section footer-about">
            <h3>Hlomohang Sethuntsa</h3>
            <p>Dedicated to crafting intuitive digital experiences and building scalable IT solutions. Let's connect!</p>
            <h4>Download My CV</h4>
            <a href="../static/images/cv/Hlomohang_Sethuntsa_cv.pdf" target="_blank" class="download-cv-link">Download CV</a>
        </div>
        <div class="footer-section footer-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="about.html">About Me</a></li>
                <li><a href="skills.html">My Skills</a></li>
                <li><a href="projects.html">My Projects</a></li>
                <li><a href="contact.html">Contact Me</a></li>
            </ul>
        </div>
        <div class="footer-section footer-social">
            <h3>Connect</h3>
            <div class="social-icon-contact">
                <a href="mailto:hlomohangsethuntsa3@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                <a href="https://github.com/HlomohangCue" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/hlomohang-sethunts-a-876401251/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/hlomohangcue?igsh=dTUycXlhajRkbDFs" class="social-icon" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
            <p class="contact-email">Email: <a href="mailto:hlomohangsethuntsa3@gmail.com">hlomohangsethuntsa3@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2025 Hlomohang Sethuntsa. All rights reserved.</p>
    </div>
</footer>

    <script defer src="/_vercel/insights/script.js"></script>
</body>
</html>